@font-face {
    font-family: 'minecraftCorpo';
    src: url('./Minecraft.ttf');
}

@font-face {
    font-family: 'minecraftTitulo';
    src: url('./Minercraftory.ttf');
}

body {
    background-image: url("../assets/mine-background.jpg");
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



.home {
   display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: flex-start;
}

.bemvindo {
    display: flex;
    width: 80%;
    height: auto;
    padding: 7%;
    margin: auto;
  margin-left: 500px;
  margin-top: 10px;
    
}

.botaoCadastro {
    font-family: 'minecraftCorpo';
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 0 #388E3C;
    transition: all 0.1s ease-out;
}

.botaoCadastro:hover {
    background-color: #5cb85c;
    transform: translateY(-2px);
    box-shadow: 0 7px 0 transparent;
}

.botaoCadastro:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #388E3C;
    background-color: #388E3C;
}

.botaoLogin {
    font-family: 'minecraftCorpo';
    position: absolute;
    top: 10%;
    left: 8%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 0 #388E3C;
    transition: all 0.1s ease-out;
}

.botaoLogin:hover {
    background-color: #5cb85c;
    transform: translateY(-2px);
    box-shadow: 0 7px 0 transparent;
}

.botaoLogin:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #388E3C;
    background-color: #388E3C;
}

.conteudo-principal {
    padding: 20px;
    font-family: 'minecraftCorpo';
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

.historia {
background-color: #388E3C;
background-size: cover;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.mojang {
display: flex;
align-items: center;
flex-direction: row; 
    align-items: flex-start; 
    gap: 50px; 

}


.imgs img{

width: 400px; 
    height: auto;
    display: block;
    padding: 2%;
    gap: 10px;
}


.texto-ao-lado {
    color: white; 
    font-family: 'minecraftCorpo';
    max-width: 500px; 
    font-size: 125%;
}

.notch-img {
width: 450px; 
    height: auto;
    display: block;
}

.texto-ao-lado2 {

color: white; 
    font-family: 'minecraftCorpo';
    max-width: 500px;
    padding: 20px; 
    font-size: 125%;

}


.criaturas {
background-color: #388E3C;
background-size: cover;
width: 100%;
    display: flex;
    


}



.texto-ao-lado3 {
font-family: 'minecraftCorpo';
font-size: 50px;
padding: 30px;


}

.texto-ao-lado4 {
font-family: 'minecraftCorpo';
font-size: 20px;


}

.pacificas {
display: flex;
background-color: #388E3C;
flex-direction: row;



}

.cavalo {
height: 150px;
width: auto;
margin-left: 50px;



}

.porco {
height: 130px;
width: auto;
margin-left: 50px;

}

.villager {
height: 130px;
width: auto;
margin-left: 50px;

}

.aranha {
height: 130px;
width: auto;
margin-left: 50px;

}

.enderman {
height: 130px;
width: auto;
margin-left: 50px;

}

.lobo {
height: 130px;
width: auto;
margin-left: 50px;
}

.blaze {
height: 130px;
width: auto;
margin-left: 50px;

}

.zombie {
height: 130px;
width: auto;
margin-left: 50px;

}

.skeleto {
height: 130px;
width: auto;
margin-left: 50px;

}

.biomas {
background-color: #388E3C;
display: flex;
width: 100%;


}

.texto-biomas {
font-size: 60px;
font-family: 'minecraftCorpo';
transform: translateY(100px);

}


.biomas-container {
   
    text-align: center;
    padding: 20px;
    font-family: 'minecraftTitulo';
    background-color: #388E3C;
}

.biomas-grid {
gap: 40px;



}

.Sobre-mim {
background-color: #388E3C;
transform: translateY(-300px);

}

.texto-sobremim {

display: flex;
justify-content: center;
align-items: center;
font-size: 60px;
color: white;
margin-top: 190px;



}

.fotosminhas {
height: 80%;
width: 80%;
display: flex;
transform: translateX(70px);




}

.texto-7anos {

 font-family: 'minecraftCorpo';
    color: white;
    font-size: 22px;
    line-height: 1.5;

    max-width: 300px;        
    margin: 20px auto 0;     
    text-align: left;  
transform: translate(-350px);
margin-top: -110px;
}



.amigos {

 font-family: 'minecraftCorpo';
    color: white;
    font-size: 22px;
    line-height: 1.5;

    max-width: 300px;        
    margin: 20px auto 0;     
    text-align: left;  
transform: translate(20px);
transform: translateY(-250px);


}

.namorada {

font-family: 'minecraftCorpo';
    color: white;
    font-size: 22px;
    line-height: 1.5;

    max-width: 300px;        
    margin: 20px auto 0;     
    text-align: left;  
transform: translate(340px, -400px);
}

.sessao-youtubers {
    background-color: #388E3C;
    padding: 40px 20px;
    text-align: center;
}

.titulo-sessao {
    width: 440px;
    max-width: 90%;
    display: block;
    margin: 0 auto 40px;
    margin-top: -300px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.card-text {
    font-family: 'minecraftCorpo';
    color: white;
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.4;
}

.rodape-simples {
    background-color: black;
    width: 100%;
    height: 20%;
    text-align: center;
    box-sizing: border-box;
}

.rodape-simples p {
    font-family: 'minecraftCorpo';
    color: white;
    font-size: 30px;
    margin: 0; 
    padding: 30px;
}

.edukof {
width: 100%;




}
