@font-face {
      font-family: 'minecraftCorpo'; 
      src: url('./Minecraft.ttf');
}

@font-face {
      font-family: 'minecraftTitulo'; 
      src: url('./Minercraftory.ttf');
}

body {
    display: flex;
background-image: url("mine.png");
background-position: center;
width: 100%;
height: 100%;
justify-content: center;
font-family: minecraftCorpo;
color: white;
font-size: 10vh;
position: relative;
height: 90vh;
}

.bemvindo {
display: flex;
position: absolute;
top: 90%;
left: 33%;
width: 30%;
height: auto;
justify-content: center;
align-items: center;
padding: 0%;
margin: 0%;

}


.imagem {
height: 70%;
width: 105%;
object-fit: cover;
   border-radius: 1%;

}

.background-mine {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8%;
}

.container-faixa {
position: absolute;
background-color: green;
width: 100%;
height: 15%;
top: -1.5%;

padding: 10px;
border-radius: 5px;

}

.botaoCadastro {
font-family: 'minecraftCorpo';
position: relative;
all: unset;
font-size: 3 0%;
padding: 2px;
color: #fff; 
margin-left: 50px;
letter-spacing: 1px;
margin-left: 130px;
border: black 3px;

 background: linear-gradient(
        #6bd04c 65%,   
        #3c8527 55%,  
        #8B5A2B 55%,   
        #6B3F1D 100%  
    );


} 
  .botaoCadastro:active {
    transform: translateY(4px);
    box-shadow: 0px 1px 0px #2e1a0c;
}

.Musicapausar, .Musicatocar {
    display: none;
}

.Musicatocar::before {
content: '';
    position: absolute;
    left: 42px;
    top: 12px;
    width: 26px;
    height: 26px;
    background: #4a4a4a;
    border: 2px solid #2a2a2a;
    box-sizing: border-box;
    
}

.Musicapausar::after {
 content: '';
    position: absolute;
    left: 60px;
    top: 10px;
    width: 6px;
    height: 30px;
    background: #2a2a2a;



}


