.fonte-pixel {
    font-family: 'Minecraft';
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fundo-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/mine-background.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao-login {
    background-color: green; 
    border: 5px solid #000; 
    border-radius: 8px; 
    padding: 30px;
    box-shadow: 
        inset -5px -5px 0 0 #388E3C, /* bordas do login */
        inset 5px 5px 0 0 #388E3C, /* bordas do login */
        10px 10px 0 0 rgba(0, 0, 0, 0.5); /* bordas do login */
    text-align: center;
    width: 90%;
    max-width: 500px; 
    box-sizing: border-box;
    background-size: 80px;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

.titulo-principal {
    color: #fff;
    font-size: 30px; 
    margin-bottom: 30px;
    text-shadow: 
        -3px -3px 0 #333, 3px -3px 0 #333,
        -3px 3px 0 #333, 3px 3px 0 #333; 
    line-height: 1.0;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 25px;
}

.campo-madeira {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    border: 4px solid #3d2a0e; 
    background-color: #7a5f3e; 
    box-shadow: 
        inset -4px -4px 0 0 #5f4a2d, 
        0 4px 0 0 #3d2a0e; 
    box-sizing: border-box;
    background-image: url('../assets/madeira\ 1.png'); 
    background-size: 100px;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

.img-explorador {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    image-rendering: pixelated;
}

.input-texto {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 18px; 
    outline: none;
    padding: 0;
}

.input-texto::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-madeira {
    font-family: 'Minecraft';
    text-shadow: 2px 2px 0 #000;
}

.botao-servidor {
    font-family: 'Minecraft';
    font-size: 24px; 
    color: black;
}

.botao-servidor:hover {
    background-color: #388E3C;
}

.botao-servidor:active {
    transform: translate(2px, 2px);
    box-shadow: 
        -2px -2px 0 0 green,
        2px 2px 0 0 #388E3C;
}

.links-rodape {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.texto-rodape {
    color: #fff;
    font-size: 14px; 
    text-shadow: 1px 1px 0 #000;
    line-height: 1.4;
    margin: 5px 0;
}

.link-destaque {
    color: white;
    border-bottom: 2px solid white;
}

.link-destaque:hover {
    color: #ff9999;
    border-bottom-color: #ff9999;
}